@import "../app.scss";
@media (min-width: 992px) {
  .container-panel {
    max-width: 720px;
  }
}

.container-panel {
  @extend .container;
  min-height: 400px;
  background-color: #fff;
}

[v-cloak] {
  display: none;
}

@media (min-width: 576px) {
  .select-btn{
    width: 400px;
  }
}
